@page "/fetchdata"
@using depooo.Client.Services.Abstract;
@using depooo.Shared
@using depooo.Shared.DTO;
@inject HttpClient Http
@inject IProductService _productService;
<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[]? forecasts;
    ProductCreateDTO product = new ProductCreateDTO
    {
            Name = "s",
            Description = "s",
            Price = 1,
            Quantity = 1
    }; 
    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("WeatherForecast");
        var result = await _productService.Add(product);
        Console.WriteLine(result.Message);
    }
}
